.expence-filter{
    color:white;
    padding: 0 1rem;
}
.expence-filter_controls{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.expence-filter_label{
    font-weight: bold;
    margin-bottom: 0.5 rem;
}
.expence-filter_select{
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;

}